REPO/ch.txg.hcm.okta.sl.sh/Schemas/Group/ListGroupMembers.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://ch/txg/hcm/okta/ListGroupMembers" 
elementFormDefault="qualified" 
targetNamespace="http://ch/txg/hcm/okta/ListGroupMembers">
  <complexType name="ListGroupMembersElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="id" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="status" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="created" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="activated" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="statusChanged" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="lastLogin" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="lastUpdated" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="passwordChanged" type="string"/>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="type">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="id" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="profile">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="zipCode" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="positionType" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="jobTitle" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="socialNumber" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="phoneDescription" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="objectType" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="companyCode" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="communicationLanguage" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="costCenter" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="contractStartDate" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="costCenterRef" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="workerSubType" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="costCenterManagerEmail" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="firstName" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="primaryPhone" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="managerDN" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="mobilePhone" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="phoneShortNumber3cx" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="userType" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="managerUserName" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="workerType" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="lastName" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="preferredLanguage" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="gender" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="badgeId" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="city" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="displayName" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="timezone" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="description" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="distinguishedName" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="locale" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="login" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="hasLifecycle" type="boolean"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="postalAcronym" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="managerEmail" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" nillable="true"  name="emailAliases" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="countryCode" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="workdayId" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="objectGUID" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="company" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="email" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="validTo" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="phoneNumber3cx" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="departmentAcronym" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="hireDate" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="manager" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="hasGoogleAccount" type="boolean"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="contractEndDate" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="siteAcronym" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="secondEmail" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="expiredTo" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="employeeId" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="managerId" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="CenterManagerWorkerId" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="organizationRef" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="streetAddress" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="organization" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="occupationRate" type="string"/>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="PrivateEmail" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="credentials">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="provider">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" nillable="true"  name="type" type="string"/>
                  <element maxOccurs="1" minOccurs="0" nillable="true"  name="name" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" nillable="true"  name="_links">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" nillable="true"  name="self">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" nillable="true"  name="href" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="ListGroupMembersElement" type="tns:ListGroupMembersElementType" nillable="true"/>
  <complexType name="ListGroupMembersElementArrayType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0"   ref="tns:ListGroupMembersElement"/>
    </sequence>
  </complexType>
  <element name="ListGroupMembersElementArray" type="tns:ListGroupMembersElementArrayType" nillable="true"/>
  
  <complexType name="listGroupMembersInputType">
	<sequence>
			<element name="accessToken">
				<complexType>
					<sequence>
						<sequence>
							<element name="grant_type" type="string" minOccurs="1" />
							<element name="scope" type="string" minOccurs="1" />
							<element name="client_assertion_type" type="string" minOccurs="1" />
						</sequence>
					</sequence>
				</complexType>
			</element>
			<element name="jwt">
				<complexType>
					<sequence>
						<sequence>
							<element name="payload">
								<complexType>
									<sequence>
										<sequence>
											<element name="aud" type="string" />
											<element name="iss" type="string" />
											<element name="sub" type="string" />
										</sequence>
									</sequence>
								</complexType>
							</element>
							<element name="privateKeyString" type="string" />
						</sequence>
					</sequence>
				</complexType>
			</element>
			<element name="groupid" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="limit" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="after" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<element name="listGroupMembersInput" type="tns:listGroupMembersInputType" />
  
</schema>
