REPO/ch.txg.common.travelperk.sh/Schemas/Get_Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ch/txg/travelperk/Get_Invoice" xmlns:tns="http://ch/txg/travelperk/Get_Invoice" elementFormDefault="qualified">



<element name="GetInvoice_Input" type="tns:GetInvoice_InputType"></element>

<complexType name="GetInvoice_InputType">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="serial_number" type="string"/> 
      <element maxOccurs="1" minOccurs="0" name="Authorization" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="API-Version" type="string"/>    
     </sequence>     
   </complexType>

<complexType name="GetInvoice_OutputType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="serial_number" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="profile_id" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="profile_name" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="billing_information">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="legal_name" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="vat_number" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="address_line_1" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="address_line_2" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="city" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="postal_code" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="country_name" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="mode" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="status" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="issuing_date" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="billing_period" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="from_date" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="to_date" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="due_date" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="currency" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="total" type="string"/>
      <element maxOccurs="unbounded" minOccurs="0" name="taxes_summary" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="reference" type="string"/>      
      <element maxOccurs="1" minOccurs="0" nillable="true" name="travelperk_bank_account">
        <complexType>        
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="bank_name" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="account_number" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="bic" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="reference" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="pdf" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="lines">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="total" type="integer"/>
            <element maxOccurs="unbounded" minOccurs="0" name="data">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="expense_date" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="unit_price" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="non_taxable_unit_price" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="tax_percentage" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="tax_amount" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="tax_regime" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="total_amount" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="metadata">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="trip_id" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="trip_name" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="service" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="travelers">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="email" type="string"/>
                              <element maxOccurs="1" nillable="true" minOccurs="0" name="external_id" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="booker">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="email" type="string"/>
                              <element maxOccurs="1" nillable="true" minOccurs="0" name="external_id" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="start_date" type="string" nillable="true" />
                        <element maxOccurs="1" minOccurs="0" name="end_date" type="string" nillable="true" />
                        <element maxOccurs="1" minOccurs="0" name="cost_center" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="labels" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vendor" nillable="true" >
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" nillable="true" name="code" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="out_of_policy" type="boolean" nillable="true" />
                        <element maxOccurs="unbounded" minOccurs="0" name="approvers" type="string"/>
                        <element maxOccurs="1" minOccurs="0" nillable="true" name="service_location" type="tns:service_location_type"/>
                        <element maxOccurs="1" minOccurs="0" nillable="true" name="include_breakfast" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="next" type="string"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  
<element name="GetInvoice_Output" type="tns:GetInvoice_OutputType"/>
  
   <element name="GetInvoiceVar_Output">    
    	<complexType>    
   	 	<sequence>
     		<element name="GetInvoice_Output" type="tns:GetInvoice_OutputType"/>
     		<element name="lastUpdate" type="decimal"/>
    	</sequence>    
    </complexType>  
    </element>  

<element name="GetInvoicePDF_base64Output" type="string"/>
<element name="GetInvoicePDF_binaryOutput" type="base64Binary"/>

<element name="metadataOutput">
	<complexType>
		<sequence>
			<element name="metadata" maxOccurs="unbounded" minOccurs="0">
				<complexType>
					<sequence>
						<element name="jsonString" type="tns:metadataOutputType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</element>
<element name="metaData" type="tns:metadataOutputType"/>
<complexType name="metadataOutputType">
	<sequence>
		<element maxOccurs="1" minOccurs="0" name="trip_id" type="integer"/>
		<element maxOccurs="1" minOccurs="0" name="trip_name" type="string"/>
		<element maxOccurs="1" minOccurs="0" name="service" type="string"/>
		<element maxOccurs="unbounded" minOccurs="0" name="travelers">
			<complexType>
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="name" type="string"/>
					<element maxOccurs="1" minOccurs="0" name="email" type="string"/>
					<element maxOccurs="1" nillable="true" minOccurs="0" name="external_id" type="string"/>
				</sequence>
			</complexType>
		</element>
		<element maxOccurs="1" minOccurs="0" name="booker">
			<complexType>
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="name" type="string"/>
					<element maxOccurs="1" minOccurs="0" name="email" type="string"/>
					<element maxOccurs="1" nillable="true" minOccurs="0" name="external_id" type="string"/>
				</sequence>
			</complexType>
		</element>
		<element maxOccurs="1" minOccurs="0" name="start_date" type="string" nillable="true"/>
		<element maxOccurs="1" minOccurs="0" name="end_date" type="string" nillable="true" />
		<element maxOccurs="1" minOccurs="0" name="cost_center" type="string"/>
		<element maxOccurs="unbounded" minOccurs="0" name="labels" type="string"/>
		<element maxOccurs="1" minOccurs="0" name="vendor" nillable="true" >
			<complexType>
				<sequence>
					<element maxOccurs="1" minOccurs="0" nillable="true" name="code" type="string"/>
					<element maxOccurs="1" minOccurs="0" name="name" type="string"/>
				</sequence>
			</complexType>
		</element>
		<element maxOccurs="1" minOccurs="0" name="out_of_policy" type="boolean"  nillable="true" />
		<element maxOccurs="unbounded" minOccurs="0" name="approvers" type="string"/>
		<element maxOccurs="1" minOccurs="0" nillable="true" name="service_location" type="tns:service_location_type"/>
		<element maxOccurs="1" minOccurs="0" nillable="true" name="include_breakfast" type="string"/>
	</sequence>
</complexType>


      
        <complexType name="service_location_type">
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="origin">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="city" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="latitude" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="longitude" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="country_code" type="string"/>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="destination">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="city" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="country" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="latitude" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="longitude" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="country_code" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      
                  


  
   

</schema>