REPO/ch.txg.travel.syncUsers.md/Schemas/MapperSchema-logFinal.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1637169314348" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1637169314348">
  <xsd:complexType name="MapperInputType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="log" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInputLog" tibex:source="bw.generalactivities.mapper" type="tns:MapperInputType"/>
</xsd:schema>
